{% extends 'template.html' %}


{% block nav %}
	{{ super() }}
	{% if email %}
		<nav>
			<div id="give-credentials">
				<span>{{ name }} {{ email }}</span>
				<ul>
					<li class="button" id="signin-button"><a href="{{ url_for('logout_user') }}">Log Out</a></li>
				</ul>
			</div>
		</nav>
	{% endif %}
{% endblock %}
	
{% block body %}
	{% if result %}
		<p>Title: {{ result.title }}</p>
		<p>Author: {{ result.author }}</p>
		<p>Publishing Year: {{ result.year }}</p>
		<p>ISBN Number: {{ result.isbn }}</p>
	{% endif %}
	<h3>Reviews<h3>
	{% if user_review %}
		<div id="reviews">
			{% for review in user_review %}
				<div class="review">
					<p>{{ review.reviewer }}</p>
					<p>{{ review.review_detail }}</p>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	<h3>Rating on Goodreads</h3>
	<p>Average ranting pn Goodreads: {{ average_rating_goodread }}</p>
	<p>Total number of ratind on Goodreads: {{ number_of_rating_goodread }}</p>
	<form action="{{url_for('book_detail', book_id=result.id)}}" method="POST">
		<input type="number" name="rating" max="5" min="0" value="1"><br>
		<input type="textarea" name="review" placeholder="Enter your review here to help others have a better experience with the books the next time they visit"><br>
		<button type="submit">Submit Review</button>
	</form>
{% endblock %}