{% extends 'template.html' %}

{% block navbar %}

	{% if current_user.is_authenticated %}
		<p><span>{{current_user.username}}</span> <a href="{{ url_for('logout') }}">Logout</a></p>
	{% else %}
		<a href="{{ url_for('login') }}">Login</a>
		<a href="{{ url_for('register') }}">Register</a>
	{% endif %}

{% endblock %}

{% block content %}

	<h3 id="intro">Edit your review to this book</h3>
	<div id="reviews">
		<div id="review_form">
			{{ wtf.quick_form(form) }}
		</div>
	</div>

{% endblock %}