{% extends 'template.html' %}

{% block navbar %}

	{% if current_user.is_authenticated %}
		<p><span>{{current_user.username}}</span> <a href="{{ url_for('logout') }}">Logout</a></p>
	{% else %}
		<a href="{{ url_for('login') }}">Login</a>
		<a href="{{ url_for('register') }}">Register</a>
	{% endif %}

{% endblock %}

{% block content %}

	<h3 id="intro">Welcome to the book checker, check and review books | see other people's reviews</h3>
	<div id="search_form">
		{{wtf.quick_form(form)}}
	</div>
	<div id="book_list">
		{% for book in books %}
			<div class="card">
				<a href="{{ url_for('book_detail', book_id=book.id) }}"><h3>ISBN: {{book.isbn}} | Title: {{book.title}}</h3></a>
				<h4>Author: {{book.author}} | Publication year: {{book.pub_year}}</h4>
				{% if book.reviews.count() != 0 %}
					<h5>Reviews: {{book.reviews.count()}} | Average rating: {% for i in range(0, book.average_rating()) %}<img src="/statics/rating_star.gif" width="8px">{% endfor %}</h5>
				{% else %}
					<h5>There is no review yet! Review this book.</h5>
				{% endif %}
			</div>
		{% endfor %}
	</div>

{% endblock %}
