{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block html %}

	{% block head %}

		{% block styles %}
			<link rel="stylesheet" type="text/css" href="/statics/file.css">
			<link rel="icon" type="image/png" href="/statics/book_checker_logo.png"/>
		{% endblock %}
		{% block metas %}
			<meta name="viewport" content="width=device-width, initial-scale=1">
		{% endblock %}

	{% endblock %}

	{% block body %}
		<header>
			<div id="logo"><a href="{{ url_for('main') }}"><img src="/statics/book_checker_logo.png" width="25px">Book checker</a></div>
			<div id="navbar">
				{% block navbar %}
				{% endblock %}
			</div>
		</header>
		<section>

			{% for message in get_flashed_messages() %}
				<h4 class="flashed_message">{{ message }}</h4>
			{% endfor %}
			
			{% block content %}{% endblock %}

		</section>
		<hr>
		<footer>
			<div id="copy-rights">Copy Rights &copy; Black Hole Company 2020</div>
			<div id="company">Black Hole Company</div>
		</footer>
	{% endblock %}

	{% block scripts %}
		{{super()}}
		{{moment.include_moment()}}
	{% endblock %}

{% endblock %}